In [1]:
import pandas as pd 
data = [10, 20, 30, 40] 
v = pd.Series(data) 
print(v)

0    10
1    20
2    30
3    40
dtype: int64

# DataFrame

In [49]:
import pandas as pd

data = {
    "Name" : ["sravan", "Ram", "Mani"],
    "Age" : [20,30,40],
    "Work" : ["SDE", "Work","Cow Business"]
}

df = pd.DataFrame(data)
print(df)

     Name  Age          Work
0  sravan   20           SDE
1     Ram   30          Work
2    Mani   40  Cow Business

In [50]:
import pandas as pd

df=pd.read_csv("transactions.csv")

In [51]:
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [52]:
print(df.tail(5))

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [53]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [54]:
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [55]:
print(df['TransactionDate'])

0    2010-08-21
1    2011-05-26
2    2011-06-16
3    2012-08-26
4    2013-06-06
5    2013-12-23
6    2013-12-30
7    2014-04-24
8    2015-04-24
9    2016-05-08
Name: TransactionDate, dtype: object

In [56]:
print(df[['TransactionDate','TransactionID']])

  TransactionDate  TransactionID
0      2010-08-21              1
1      2011-05-26              2
2      2011-06-16              3
3      2012-08-26              4
4      2013-06-06              5
5      2013-12-23              6
6      2013-12-30              7
7      2014-04-24              8
8      2015-04-24              9
9      2016-05-08             10

In [57]:
print(df.iloc[2])

TransactionID               3
TransactionDate    2011-06-16
UserID                    3.0
ProductID                   3
Quantity                    1
Name: 2, dtype: object

In [58]:
filtered = df[df['Quantity'] >= 2]
print(filtered)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [59]:
df.rename(columns = {'TransactionID':'ID'}, inplace = True)
print(df)

   ID TransactionDate  UserID  ProductID  Quantity
0   1      2010-08-21     7.0          2         1
1   2      2011-05-26     3.0          4         1
2   3      2011-06-16     3.0          3         1
3   4      2012-08-26     1.0          2         3
4   5      2013-06-06     2.0          4         1
5   6      2013-12-23     2.0          5         6
6   7      2013-12-30     3.0          4         1
7   8      2014-04-24     NaN          2         3
8   9      2015-04-24     7.0          4         3
9  10      2016-05-08     3.0          4         4

In [60]:
print(df.isnull().sum())

ID                 0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64

In [61]:
print(df)

   ID TransactionDate  UserID  ProductID  Quantity
0   1      2010-08-21     7.0          2         1
1   2      2011-05-26     3.0          4         1
2   3      2011-06-16     3.0          3         1
3   4      2012-08-26     1.0          2         3
4   5      2013-06-06     2.0          4         1
5   6      2013-12-23     2.0          5         6
6   7      2013-12-30     3.0          4         1
7   8      2014-04-24     NaN          2         3
8   9      2015-04-24     7.0          4         3
9  10      2016-05-08     3.0          4         4

In [63]:
df['UserID'] = df['UserID'].fillna(df['UserID'].mean())
print(df)

   ID TransactionDate    UserID  ProductID  Quantity
0   1      2010-08-21  7.000000          2         1
1   2      2011-05-26  3.000000          4         1
2   3      2011-06-16  3.000000          3         1
3   4      2012-08-26  1.000000          2         3
4   5      2013-06-06  2.000000          4         1
5   6      2013-12-23  2.000000          5         6
6   7      2013-12-30  3.000000          4         1
7   8      2014-04-24  3.444444          2         3
8   9      2015-04-24  7.000000          4         3
9  10      2016-05-08  3.000000          4         4

In [65]:
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"], 
ascending=[True, False]) 
print(df_sorted.head(10))

   ID TransactionDate    UserID  ProductID  Quantity
6   7      2013-12-30  3.000000          4         1
4   5      2013-06-06  2.000000          4         1
2   3      2011-06-16  3.000000          3         1
1   2      2011-05-26  3.000000          4         1
0   1      2010-08-21  7.000000          2         1
8   9      2015-04-24  7.000000          4         3
7   8      2014-04-24  3.444444          2         3
3   4      2012-08-26  1.000000          2         3
9  10      2016-05-08  3.000000          4         4
5   6      2013-12-23  2.000000          5         6

In [66]:
subset = df[df['Quantity'] > 2]
print(subset)

   ID TransactionDate    UserID  ProductID  Quantity
3   4      2012-08-26  1.000000          2         3
5   6      2013-12-23  2.000000          5         6
7   8      2014-04-24  3.444444          2         3
8   9      2015-04-24  7.000000          4         3
9  10      2016-05-08  3.000000          4         4

In [67]:
subset_rows = df.iloc[[0, 2, 5]]   
print(subset_rows)

   ID TransactionDate  UserID  ProductID  Quantity
0   1      2010-08-21     7.0          2         1
2   3      2011-06-16     3.0          3         1
5   6      2013-12-23     2.0          5         6

In [71]:
subset_row = df[df['Quantity'] > 2][['TransactionDate','UserID']]
print(subset_row)

  TransactionDate    UserID
3      2012-08-26  1.000000
5      2013-12-23  2.000000
7      2014-04-24  3.444444
8      2015-04-24  7.000000
9      2016-05-08  3.000000

In [72]:
cols = ['Quantity', 'TransactionDate', 'UserID']
subset_cols = df[cols]
print(subset_cols)

   Quantity TransactionDate    UserID
0         1      2010-08-21  7.000000
1         1      2011-05-26  3.000000
2         1      2011-06-16  3.000000
3         3      2012-08-26  1.000000
4         1      2013-06-06  2.000000
5         6      2013-12-23  2.000000
6         1      2013-12-30  3.000000
7         3      2014-04-24  3.444444
8         3      2015-04-24  7.000000
9         4      2016-05-08  3.000000

In [73]:
columns_to_exclude = ['Quantity', 'ProductID'] 
subset_columns_excluded = df[[col for col in df.columns if col not 
in columns_to_exclude]] 
print(subset_columns_excluded)

   ID TransactionDate    UserID
0   1      2010-08-21  7.000000
1   2      2011-05-26  3.000000
2   3      2011-06-16  3.000000
3   4      2012-08-26  1.000000
4   5      2013-06-06  2.000000
5   6      2013-12-23  2.000000
6   7      2013-12-30  3.000000
7   8      2014-04-24  3.444444
8   9      2015-04-24  7.000000
9  10      2016-05-08  3.000000

In [75]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

ID                          int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

In [79]:
foo = [True, False, True, False, True, False, True, False, True, False]
subset_rows = df[foo] 
print(subset_rows)

   ID TransactionDate  UserID  ProductID  Quantity
0   1      2010-08-21     7.0          2         1
2   3      2011-06-16     3.0          3         1
4   5      2013-06-06     2.0          4         1
6   7      2013-12-30     3.0          4         1
8   9      2015-04-24     7.0          4         3

In [81]:
df['Foo'] = df['UserID'] + df['ProductID'] 
print(df.head(10))

   ID TransactionDate    UserID  ProductID  Quantity        Foo
0   1      2010-08-21  7.000000          2         1   9.000000
1   2      2011-05-26  3.000000          4         1   7.000000
2   3      2011-06-16  3.000000          3         1   6.000000
3   4      2012-08-26  1.000000          2         3   3.000000
4   5      2013-06-06  2.000000          4         1   6.000000
5   6      2013-12-23  2.000000          5         6   7.000000
6   7      2013-12-30  3.000000          4         1   7.000000
7   8      2014-04-24  3.444444          2         3   5.444444
8   9      2015-04-24  7.000000          4         3  11.000000
9  10      2016-05-08  3.000000          4         4   7.000000

In [83]:
df.loc[len(df)] = [11, '2020-01-01', 55, 1, 3, 55 + 1]
print(df)

    ID      TransactionDate     UserID  ProductID  Quantity        Foo
0    1  2010-08-21 00:00:00   7.000000          2         1   9.000000
1    2  2011-05-26 00:00:00   3.000000          4         1   7.000000
2    3  2011-06-16 00:00:00   3.000000          3         1   6.000000
3    4  2012-08-26 00:00:00   1.000000          2         3   3.000000
4    5  2013-06-06 00:00:00   2.000000          4         1   6.000000
5    6  2013-12-23 00:00:00   2.000000          5         6   7.000000
6    7  2013-12-30 00:00:00   3.000000          4         1   7.000000
7    8  2014-04-24 00:00:00   3.444444          2         3   5.444444
8    9  2015-04-24 00:00:00   7.000000          4         3  11.000000
9   10  2016-05-08 00:00:00   3.000000          4         4   7.000000
10  11           2020-01-01  55.000000          1         3  56.000000

In [84]:
df.loc[df['UserID'] == 1, 'UserID'] = 100

print(df)

    ID      TransactionDate      UserID  ProductID  Quantity        Foo
0    1  2010-08-21 00:00:00    7.000000          2         1   9.000000
1    2  2011-05-26 00:00:00    3.000000          4         1   7.000000
2    3  2011-06-16 00:00:00    3.000000          3         1   6.000000
3    4  2012-08-26 00:00:00  100.000000          2         3   3.000000
4    5  2013-06-06 00:00:00    2.000000          4         1   6.000000
5    6  2013-12-23 00:00:00    2.000000          5         6   7.000000
6    7  2013-12-30 00:00:00    3.000000          4         1   7.000000
7    8  2014-04-24 00:00:00    3.444444          2         3   5.444444
8    9  2015-04-24 00:00:00    7.000000          4         3  11.000000
9   10  2016-05-08 00:00:00    3.000000          4         4   7.000000
10  11           2020-01-01   55.000000          1         3  56.000000

In [85]:
df['NewColumn'] = df['Quantity'] * 2 
print(df.head())

   ID      TransactionDate  UserID  ProductID  Quantity  Foo  NewColumn
0   1  2010-08-21 00:00:00     7.0          2         1  9.0          2
1   2  2011-05-26 00:00:00     3.0          4         1  7.0          2
2   3  2011-06-16 00:00:00     3.0          3         1  6.0          2
3   4  2012-08-26 00:00:00   100.0          2         3  3.0          6
4   5  2013-06-06 00:00:00     2.0          4         1  6.0          2

In [86]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])