In [1]:
import pandas as pd

# Read the transaction data from a CSV file

df = pd.read_csv('transactions.csv')

# Print the first 5 rows of the data

print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 1. Print Summary of transaction data set

In [2]:
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

# 2. Print Numbers of Attributes

In [11]:
#print all the attributes length

print(len(df.columns))

5

# 3. Print Numbers of Records

In [15]:
print(len(df))

10

# 4. Get the row names

In [7]:
print(df.iloc[3])

TransactionID               4
TransactionDate    2012-08-26
UserID                    1.0
ProductID                   2
Quantity                    3
Name: 3, dtype: object

# 5. Get the column names

In [6]:
print(df.columns)
print(df.columns[3])

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')
ProductID

# 6. View top 10 Records

In [21]:
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 7.Change the name of column “ Quantity” to “Quant”

In [8]:
df.rename(columns={'Quantity':'Quant'}, inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

# 8.Change the name of columns ProductID and UserID

In [29]:
#Change the name of columns ProductID and UserID to PID and UID respectively
df.columns = ['PID', 'UID', 'Product', 'Price', 'Quantity']

print(df)

   PID         UID  Product  Price  Quantity
0    1  2010-08-21      7.0      2         1
1    2  2011-05-26      3.0      4         1
2    3  2011-06-16      3.0      3         1
3    4  2012-08-26      1.0      2         3
4    5  2013-06-06      2.0      4         1
5    6  2013-12-23      2.0      5         6
6    7  2013-12-30      3.0      4         1
7    8  2014-04-24      NaN      2         3
8    9  2015-04-24      7.0      4         3
9   10  2016-05-08      3.0      4         4

In [12]:
# 9. Order the rows of transactions by TransactionId

sorted = df.sort_values(by='TransactionID',ascending=True)
print(sorted)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [13]:
# 10. Order the rows of transactions by Quantity ascending, TransactionDate descending

order = df.sort_values(by=["Quant","TransactionDate"], ascending=[True,False])
print(order)

   TransactionID TransactionDate  UserID  ProductID  Quant
6              7      2013-12-30     3.0          4      1
4              5      2013-06-06     2.0          4      1
2              3      2011-06-16     3.0          3      1
1              2      2011-05-26     3.0          4      1
0              1      2010-08-21     7.0          2      1
8              9      2015-04-24     7.0          4      3
7              8      2014-04-24     NaN          2      3
3              4      2012-08-26     1.0          2      3
9             10      2016-05-08     3.0          4      4
5              6      2013-12-23     2.0          5      6

In [ ]:
# 11. Set the column order of Transactions as ProductID, Quantity, TransactionDate, TransactionID, UserID

column_order = df[["ProductID","Quant","TransactionDate","TransactionID","UserID"]]
print(column_order)

   ProductID  Quant TransactionDate  TransactionID  UserID
0          2      1      2010-08-21              1     7.0
1          4      1      2011-05-26              2     3.0
2          3      1      2011-06-16              3     3.0
3          2      3      2012-08-26              4     1.0
4          4      1      2013-06-06              5     2.0
5          5      6      2013-12-23              6     2.0
6          4      1      2013-12-30              7     3.0
7          2      3      2014-04-24              8     NaN
8          4      3      2015-04-24              9     7.0
9          4      4      2016-05-08             10     3.0

In [21]:
# 12. Make UserID the first column of transactions
user_id_col = df[["UserID"] + [x for x in df.columns if x != "UserID"]]
print(user_id_col)

   UserID  TransactionID TransactionDate  ProductID  Quant
0     7.0              1      2010-08-21          2      1
1     3.0              2      2011-05-26          4      1
2     3.0              3      2011-06-16          3      1
3     1.0              4      2012-08-26          2      3
4     2.0              5      2013-06-06          4      1
5     2.0              6      2013-12-23          5      6
6     3.0              7      2013-12-30          4      1
7     NaN              8      2014-04-24          2      3
8     7.0              9      2015-04-24          4      3
9     3.0             10      2016-05-08          4      4

In [24]:
# 13. Extracting arrays from a Data Frame. Get the 2nd column

print(df.columns[2])

UserID

In [26]:
list_arr = [x for x in df["ProductID"]]
print(list_arr)

[2, 4, 3, 2, 4, 5, 4, 2, 4, 4]

In [30]:
# 16.Row subsetting, subset rows 1,3 and 6

new_data = df.loc[[1,3,6]]
print(new_data)

   TransactionID TransactionDate  UserID  ProductID  Quant
1              2      2011-05-26     3.0          4      1
3              4      2012-08-26     1.0          2      3
6              7      2013-12-30     3.0          4      1

In [36]:
# 18. Subset the first three rows

slicing = df.loc[[x for x in range(3)]]
print(slicing)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1

In [40]:
# 19. Subset the last 2 rows

slicing = df.tail(2)
print(slicing)

   TransactionID TransactionDate  UserID  ProductID  Quant
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [46]:
# 20. Subset rows excluding the last 2 rows

print(df.head(len(df) - 2))

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3

In [47]:
# 21. Subset rows excluding the first 3 rows
print(df.head(len(df) - 3))

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1

In [56]:
# 22. Subset rows where Quant > 1

quanity_greater = df[df['Quant'] > 1]
print(quanity_greater)

   TransactionID TransactionDate  UserID  ProductID  Quant
3              4      2012-08-26     1.0          2      3
5              6      2013-12-23     2.0          5      6
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [57]:
# 23. Subset rows where UserID=2

quanity_greater = df[df['UserID'] == 2]
print(quanity_greater)

   TransactionID TransactionDate  UserID  ProductID  Quant
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6

In [63]:
# 24. Subset rows where Quantity>1 and UserID=2

quanity_greater = df[(df['UserID'] == 2) & (df['Quant'] > 1)]
print(quanity_greater)

   TransactionID TransactionDate  UserID  ProductID  Quant
5              6      2013-12-23     2.0          5      6

In [67]:
# 25. Subset rows where Quantity + UserID is >3

quanity_greater = df[(df['UserID'] + df['Quant']) > 3]
print(quanity_greater)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [79]:
# 26. Subset rows where an external array, foo, is True

df['foo'] = [True,True,True,False,False,False,True,True,True,False]
print(df[df['foo']])

   TransactionID TransactionDate  UserID  ProductID  Quant  bar   foo
0              1      2010-08-21     7.0          2      1    1  True
1              2      2011-05-26     3.0          4      1   -1  True
2              3      2011-06-16     3.0          3      1    3  True
6              7      2013-12-30     3.0          4      1   -2  True
7              8      2014-04-24     NaN          2      3    1  True
8              9      2015-04-24     7.0          4      3   -1  True

In [76]:
# 27. Subset rows where an external array, bar, is positive

# Assuming 'bar' is an external array of the same length as df
df['bar'] = [1,-1,3,2,-3,2,-2,1,-1,3]
subset = df[df['bar'] > 0]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quant  bar    foo
0              1      2010-08-21     7.0          2      1    1   True
2              3      2011-06-16     3.0          3      1    3   True
3              4      2012-08-26     1.0          2      3    2  False
5              6      2013-12-23     2.0          5      6    2   True
7              8      2014-04-24     NaN          2      3    1   True
9             10      2016-05-08     3.0          4      4    3  False

In [80]:
# 28. Subset rows where foo is TRUE or bar is negative

new_col = df[(df['foo'] == True) | (df['bar'] < 0)]
print(new_col)

   TransactionID TransactionDate  UserID  ProductID  Quant  bar    foo
0              1      2010-08-21     7.0          2      1    1   True
1              2      2011-05-26     3.0          4      1   -1   True
2              3      2011-06-16     3.0          3      1    3   True
4              5      2013-06-06     2.0          4      1   -3  False
6              7      2013-12-30     3.0          4      1   -2   True
7              8      2014-04-24     NaN          2      3    1   True
8              9      2015-04-24     7.0          4      3   -1   True

In [83]:
# 29. Subset the rows where foo is not TRUE and bar is not negative

new_col = df[(df['foo'] == False) & (df['bar'] > 0)]
print(new_col)

   TransactionID TransactionDate  UserID  ProductID  Quant  bar    foo
3              4      2012-08-26     1.0          2      3    2  False
5              6      2013-12-23     2.0          5      6    2  False
9             10      2016-05-08     3.0          4      4    3  False

In [85]:
# 30. Subset by columns 1 and 3 (using integer-based indexing)
sub_cols = df.iloc[:, [1, 3]]
print(sub_cols)

  TransactionDate  ProductID
0      2010-08-21          2
1      2011-05-26          4
2      2011-06-16          3
3      2012-08-26          2
4      2013-06-06          4
5      2013-12-23          5
6      2013-12-30          4
7      2014-04-24          2
8      2015-04-24          4
9      2016-05-08          4

In [86]:
# 31. Subset by columns TransactionID and TransactionDate

sub_cols = df[['TransactionID','TransactionDate']]
print(sub_cols)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [90]:
# 32. Subset by columns TransactionID and TransactionDate with logical operator

filtered_df = df[(df['TransactionID'] > 1) & (df['bar'] == 2)]
filtered_df = filtered_df[['TransactionID','TransactionDate']]
print(filtered_df)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23

In [ ]:
# 33. Subset columns by a variable list of column names

# this question states about the retrieving the subset columns from the datafreme and in list type
print(list(df.columns))

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quant', 'bar', 'foo']

In [97]:
# 34. Subset columns excluding a variable list of column names

print(df[['TransactionID','TransactionDate','UserID']])

   TransactionID TransactionDate  UserID
0              1      2010-08-21     7.0
1              2      2011-05-26     3.0
2              3      2011-06-16     3.0
3              4      2012-08-26     1.0
4              5      2013-06-06     2.0
5              6      2013-12-23     2.0
6              7      2013-12-30     3.0
7              8      2014-04-24     NaN
8              9      2015-04-24     7.0
9             10      2016-05-08     3.0

In [106]:
# 35. Inserting and updating values

df['Status'] = 'Pending'
# df.insert(8, '20-05-2003', 123)
df

,TransactionID,TransactionDate,UserID,ProductID,Quant,bar,foo,Status,20-05-2003
0,1,2010-08-21,7.0,2,1,1,True,Pending,123
1,2,2011-05-26,3.0,4,1,-1,True,Pending,123
2,3,2011-06-16,3.0,3,1,3,True,Pending,123
3,4,2012-08-26,1.0,2,3,2,False,Pending,123
4,5,2013-06-06,2.0,4,1,-3,False,Pending,123
5,6,2013-12-23,2.0,5,6,2,False,Pending,123
6,7,2013-12-30,3.0,4,1,-2,True,Pending,123
7,8,2014-04-24,NaN,2,3,1,True,Pending,123
8,9,2015-04-24,7.0,4,3,-1,True,Pending,123
9,10,2016-05-08,3.0,4,4,3,False,Pending,123

In [109]:
# 36. Convert the TransactionDate column to type Date

df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df['TransactionDate'])
print(df.dtypes)

0   2010-08-21
1   2011-05-26
2   2011-06-16
3   2012-08-26
4   2013-06-06
5   2013-12-23
6   2013-12-30
7   2014-04-24
8   2015-04-24
9   2016-05-08
Name: TransactionDate, dtype: datetime64[ns]
TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quant                       int64
bar                         int64
foo                          bool
Status                     object
20-05-2003                  int64
dtype: object

In [115]:
# 37. Insert a new column, Foo=UserID+ProductID

df['new_col'] = df['UserID'] + df['ProductID']
df

,TransactionID,TransactionDate,UserID,ProductID,Quant,bar,foo,Status,20-05-2003,new_col
0,1,2010-08-21,7.0,2,1,1,True,Pending,123,9.0
1,2,2011-05-26,3.0,4,1,-1,True,Pending,123,7.0
2,3,2011-06-16,3.0,3,1,3,True,Pending,123,6.0
3,4,2012-08-26,1.0,2,3,2,False,Pending,123,3.0
4,5,2013-06-06,2.0,4,1,-3,False,Pending,123,6.0
5,6,2013-12-23,2.0,5,6,2,False,Pending,123,7.0
6,7,2013-12-30,3.0,4,1,-2,True,Pending,123,7.0
7,8,2014-04-24,NaN,2,3,1,True,Pending,123,NaN
8,9,2015-04-24,7.0,4,3,-1,True,Pending,123,11.0
9,10,2016-05-08,3.0,4,4,3,False,Pending,123,7.0